<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
<Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %class{36}.%M.%L [%t] %m%n"/>
        </Console>
        
        <RollingFile name="standard" fileName="log/log.log"
                    filePattern="log/$${date:yyyy-MM}/standard-%d{MM-dd-yyyy}-%i.log.gz">
	        <PatternLayout>
	            <Pattern>%d %p %class{36}.%M.%L [%t] %m%n</Pattern>
	        </PatternLayout>
		        <Policies>
	            <TimeBasedTriggeringPolicy />
	            <SizeBasedTriggeringPolicy size="10 MB"/>
                <DefaultRolloverStrategy max="20" />	            
	        </Policies>
	    </RollingFile>

        <RollingFile name="event" fileName="log/event.log"
                    filePattern="log/$${date:yyyy-MM}/event-%d{MM-dd-yyyy}-%i.log.gz">
	        <PatternLayout>
	            <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
	        </PatternLayout>
		        <Policies>
	            <TimeBasedTriggeringPolicy />
	            <SizeBasedTriggeringPolicy size="10 MB"/>
                <DefaultRolloverStrategy max="20" />
	        </Policies>
	    </RollingFile>
        
</Appenders>

<Loggers>
        <Logger name="standard" level="debug" additivity="false">
            <AppenderRef ref="standard"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="event" level="debug" additivity="false">
            <AppenderRef ref="event"/>
        </Logger>
 
</Loggers>
</Configuration>